nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to bottom, #000, transparent);

    .right-div {
        display: flex;
    }

    a {
        padding-inline: 1rem;

        &:hover {
            color: #fff;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}
